---
const { title } = Astro.props;
import Header from '../components/comun/Header.astro';
import Footer from '../components/comun/Footer.astro';
import CartDrawer from '../components/cart/CartDrawer.astro';
---

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title} | GamerTech</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
 
  
</head>
<body class=" font-sans antialiased">
  <!-- Header -->
  <Header />
  
  <main class="animate-fade-in">
    <slot />
  </main>
  <CartDrawer />
  
  <!-- Footer -->
  <Footer />
  
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script type="module" src="/scripts/cart.js?v=1"></script>
</body>
</html>
